/****************************
 * Icomoon Select
****************************/
.vii-icomoon {
    position:relative; z-index:9;
    --vico-right:110px;
    --vico-left:calc(100% - var(--vico-right));
    --vico-field-height:30px;
    --vico-field-svg-size:20px;
}
.vii-icomoon * {box-sizing:border-box;}


/****************************
 * Icomoon Select - Custom Field
****************************/
.vii-icomoon__custom-field, .vii-icomoon__custom-field-result {
    display:flex; align-items:center;
}
.vii-icomoon__custom-field-col.left {width:var(--vico-left); position:relative;}
.vii-icomoon__custom-field-col.right {width:var(--vico-right); padding-left:5px;}

/* result */
.vii-icomoon__custom-field-result {
    justify-content:flex-start; padding-left:10px;
    border-radius:4px; border:1px solid #7e8993; height:var(--vico-field-height); line-height:1;
    transition:all .3s ease; cursor:pointer;
    background-color:#fff;
}
.vii-icomoon__custom-field-result .icon-svg svg {width:var(--vico-field-svg-size); height:var(--vico-field-svg-size); display:block;}
.vii-icomoon__custom-field-result .icon-name {padding-left:10px;}
.vii-icomoon__custom-field-result:hover {box-shadow:0 0 0 1px #6c75df;}

/* button remove */
.vii-icomoon:not(.empty) .vii-icomoon__custom-field-remove {display:block;}
.vii-icomoon__custom-field-remove {
    position:absolute; top:50%; right:0;
    transform:translateY(-50%); display:none;
    background-color:red; color:#fff !important;
    border-radius:0 4px 4px 0; height:100%; width:var(--vico-field-height);
    line-height:var(--vico-field-height); text-align:center; text-decoration:none;
    font-size:14px; font-weight:700;
    transition:all .3s ease;
    cursor:pointer;
}
.vii-icomoon__custom-field-remove:not(:hover) {background-color:transparent; color:red !important;}

/* button select */
.vii-icomoon__custom-field-button button {text-align:center; display:block; width:100%; height:var(--vico-field-height);}
.vii-icomoon:not(.popup-open) .vii-icomoon__custom-field-button .cancel {display:none;}
.vii-icomoon.popup-open .vii-icomoon__custom-field-button .select {display:none;}


/****************************
 * Icomoon Select - Popup
****************************/
.vii-icomoon.popup-open {z-index:9000;}

/* popup */
.vii-icomoon:not(.popup-open) .vii-icomoon__popup {display:none;}
.vii-icomoon.popup-top .vii-icomoon__popup {bottom:100%;}
.vii-icomoon.popup-bottom .vii-icomoon__popup {top:100%;}
.vii-icomoon.popup-right .vii-icomoon__popup {left:auto; right:0;}

.vii-icomoon__popup {
    position:absolute; left:0; z-index:20;
    margin:3px 0 0; width:300px; max-height:300px;
    border-radius:4px; border:1px solid #7e8993;
    background-color:rgb(235, 235, 240); box-shadow:0 0 10px 0 rgba(0, 0, 0, .15);
    overflow:auto;
}

.vii-icomoon__popup-head {
    position:sticky; top:0;
    text-align:center;
    margin-bottom:5px; padding:5px;
    border-bottom:1px solid #ccc; background-color:rgb(255 255 255 / 50%);
    -webkit-backdrop-filter:blur(5px);backdrop-filter:blur(5px);
}

/* icon list */
ul.vii-icomoon__icons {
    list-style:none; margin:0; padding:7px;
    display:flex; flex-wrap:wrap;
}

ul.vii-icomoon__icons li {
    padding:7px; margin:0; width:20%; aspect-ratio:1/1;
}

ul.vii-icomoon__icons li a {
    width:100%; aspect-ratio:1/1; padding:5px;
    border-radius:4px; transition:all .3s ease;
    display:flex; align-items:center; justify-content:center;
}

ul.vii-icomoon__icons li a svg {width:85%;}

ul.vii-icomoon__icons li a:hover {background-color:#fff;}

ul.vii-icomoon__icons li a.active,
ul.vii-icomoon__icons li a:focus {
    box-shadow:0 0 0 1px #6c75df;
    background-color:#fff;
}


/****************************
 * Icomoon Select - VC Param
****************************/
.vii-icomoon.vc-element {
    --vico-right:130px;
    --vico-field-height:45px;
    --vico-field-svg-size:25px;
}

/* popup */
.vii-icomoon.vc-element .vii-icomoon__popup {
    position:relative; top:auto; bottom:auto; left:auto;
    width:100%; max-width:300px; max-height:250px;
}